<script src="video-paint-test.js"></script>
<body onload="init()">
<style>
video { width:200px; border: 3px solid red; }
</style>
<p>Test painting of transformed video </p>
&nbsp;<video src="content/test.mp4" style="-webkit-transform:rotate(20deg)"></video><br>
&nbsp;<video src="content/test.mp4" style="-webkit-transform:scale(0.5)"></video><br>
&nbsp;<video src="content/test.mp4" style="-webkit-transform:skew(20deg)"></video><br>
