<script src="video-paint-test.js"></script>
<body onload="document.body.removeChild(document.getElementById('one')); document.body.offsetLeft; init()">
<style>
video { width:200px; border: 3px solid red; -webkit-box-reflect: below 5px; }
</style>
<p>Test dynamic removal of transformed and reflected video </p>
&nbsp;<video id="one" src="content/test.mp4" style="-webkit-transform:rotate(20deg)"></video><br>
&nbsp;<video src="content/test.mp4" style="-webkit-transform:scale(0.5)"></video><br>
&nbsp;<video src="content/test.mp4" style="-webkit-transform:skew(20deg)"></video><br>
