<div id="description1">This tests to make sure that a deleted anchor is restored when even brand new TypingCommand is created after it is removed.  The text below should be in an anchor.</div>
<div id="edit1" contentEditable="true"><a id="a" href="http://www.apple.com/">Anchor</a></div>

<script>
if (window.layoutTestController)
    window.layoutTestController.dumpAsText();
a = document.getElementById("a");
window.getSelection().setBaseAndExtent(a, 0, a, a.childNodes.length);
document.execCommand("Cut");
document.execCommand("InsertText", false, "Anchor");

if (window.layoutTestController)
    document.body.innerText = document.getElementById("description1").innerText + "\n" + edit1.innerHTML;
</script>
